<label class="item item-input">
    <span class="input-label">배송지 이름</span>
    <input type="text" ng-model="sending_address.address_title" placeholder="배송지 명을 입력해주세요!">
</label>


<div id="postcodify">

</div>

<label class="item item-input" style="padding-top:10px;">
    <input style="display:inline;float:left;" size="6" id="post_code" type="text" placeholder="우편번호"
           ng-model='sending_address.post_code' value='sending_address.post_code' disabled/>


<textarea placeholder="지번주소" id="jibun_address" ng-model='sending_address.jibun_address'
          value='sending_address.jibun_address' style="width:100%;"></textarea>
</label>
<label class="item item-input" style="padding-top:10px;">
<textarea type="text" placeholder="상세주소입력" ng-model='sending_address.detail_address'
          value='sending_address.detail_address' style="width:100%;"></textarea>
</label>

<label class="item item-input">
    <span class="input-label">전화번호</span>
    <input type="text" ng-model="sending_address.phone" placeholder="전화번호를 입력해주세요!">
</label>

<div style="text-align:center; padding-top:3px;">
    <button class="button button-small button-assertive" ng-click="confirmClick();">{{btn_title}}</button>
    <button class="button button-small button-assertive" ng-click="closeClick();">닫기</button>
</div>

