<div>
    <div class="card">
        <div class="row item item-text-wrap" style="background:rgba(255, 97, 96, 0.15);">
            <div class="col col-75">주문일자 : 2015.08.20</div>
            <div class="col">
                <a href="#/orderdetail/12" style="text-decoration: none;">상세보기</a>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col">
                <img style="width: 100%;height: 100%;" src="img/food1.png" />
            </div>
            <div class="col item-text-wrap">
                <h4>감자만두의 짬뽕찌개</h4>

                <h5>입금방법 : 무통장</h5>
                <h5>배송상태 : 입금대기</h5>
                <!--<div>
                    <h5 style="color:red;display:inline;float:left;" >배송상태</h5><h5 style="display:inline;float:left;"> : 입금대기</h5>
                </div>-->
            </div>
        </div>
        <div class="item item-text-wrap" >
            <h3>입금계좌 : 110-232-0812 (기업은행)</h3>
        </div>
    </div>

    <div class="card">
        <div class="row item item-text-wrap" style="background:rgba(255, 97, 96, 0.15);">
            <div class="col col-75">주문일자 : 2015.08.20</div>
            <div class="col">
                <a href="#" style="text-decoration: none;">상세보기</a>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col">
                <img style="width: 100%;height: 100%;" src="img/food1.png" />
            </div>
            <div class="col item-text-wrap">
                <h4>감자만두의 짬뽕찌개</h4>

                <h5>입금방법 : 현금결제</h5>
                <h5>배송상태 : 배송대기</h5>
                <!--<div>
                    <h5 style="color:red;display:inline;float:left;" >배송상태</h5><h5 style="display:inline;float:left;"> : 입금대기</h5>
                </div>-->
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row item item-text-wrap" style="background:rgba(255, 97, 96, 0.15);">
            <div class="col col-75">주문일자 : 2015.08.20</div>
            <div class="col">
                <a href="#" style="text-decoration: none;">상세보기</a>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col">
                <img style="width: 100%;height: 100%;" src="img/food1.png" />
            </div>
            <div class="col item-text-wrap">
                <h4>감자만두의 짬뽕찌개</h4>

                <h5>입금방법 : 무통장</h5>
                <h5>배송상태 : 입금대기</h5>
                <!--<div>
                    <h5 style="color:red;display:inline;float:left;" >배송상태</h5><h5 style="display:inline;float:left;"> : 입금대기</h5>
                </div>-->
            </div>
        </div>
        <div class="item item-text-wrap" >
            <h3>입금계좌 : 110-232-0812 (기업은행)</h3>
        </div>
    </div>
</div>

<!-- 데이터 오면 이걸로 사용 -->
<!--

<div ng-repeat="order in orderlists">
    <div class="card">
        <div class="row item item-text-wrap" style="background:rgba(255, 97, 96, 0.15);">
            <div class="col col-75">주문일자 : {{order.order_date}}</div>
            <div class="col">
                <a href="#" style="text-decoration: none;">상세보기</a>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col">
                <img style="width: 100%;height: 100%;" src='img/{{order.order_img}}'/>
            </div>
            <div class="col item-text-wrap">
                <h4>{{order.order_title}}</h4>

                <h5>입금방법 : {{order.order_pay}}</h5>
                <h5>배송상태 : {{order.order_status}}</h5>
                &lt;!&ndash;<div>
                    <h5 style="color:red;display:inline;float:left;" >배송상태</h5><h5 style="display:inline;float:left;"> : 입금대기</h5>
                </div>&ndash;&gt;
            </div>
        </div>
        <div class="item item-text-wrap" ng-if="order.pay_by">
            <h3>입금계좌 : 110-232-0812 (기업은행)</h3>
        </div>
    </div>
</div>
-->
