<div id="content">
    <div id="profile-info">
        <img id="profile-image" src="img/jasung.JPG">

        <h3 id="profile-name">jasung</h3>
    </div>
</div>
<div >
    <div class="card">
        <div class="item">

            <h2><i class="icon ion-email"></i> : airnold@naver.com</h2>
        </div>

    </div>
    <div class="card">
        <div class="item">
            <h2>등급 : Level 10</h2>
            <br>

            <h2>포인트 : 198284912 point</h2>
        </div>
    </div>

    <div class="card">
        <div class="item">
            <h2><i class="icon ion-android-call"></i> : 010-4230-0986</h2>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
            <h3> 대표 배송지</h3>

            <h2 style="text-align:left">[367-121] 충남아산시 신창면 읍내리 순천향대학교 앙뜨레 쁘레너관 E307</h2>
            <br>
            <i class="icon ion-android-call"> : 010-7157-0986</i>
            <div style="margin-left: 90%;">
                <i class="icon ion-plus-circled"  id="add_delivery" ng-click="deliverybookClick()"> </i>
            </div>


        </div>
    </div>
</div>


